*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg, #4070f4, rgb(226, 228, 232))
}
.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
    
}
.left{
    
    padding: 40px;
    height: 500px;
    background:linear-gradient(160deg, #f1f1f1, rgb(102, 94, 94));
    border-radius: 15px 0px 0px 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}
.titulo{
    
    text-align: center;
    margin-bottom: 30px;
}
.login{
    display: flex;
    flex-direction: column;
}
.login input{
    margin-top: 2px;
    color: rgb(0, 0, 0);
    height: 24px;
    padding: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
}
.login label{
    margin-top: 20px;
}
.button p{
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    
}
.button a {
    margin-left: 5px;
}
.remember{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    margin-top: 30px;
}



.login-btn{

    margin-top: 30px;
    border: none;
    width: 170px;
    height: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #4070f4;
    
}

.login-btn:hover{
    transform: scale(1.2);
}

.button p{
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.button a {
    margin-left: 5px;
}
.button{
    text-align: center;
}

.link-cdt{
    margin-top: 30px;
}

.btn-cdt{
    
        color: blue;
        text-decoration: underline;
        background: transparent;
        border: none;
        font-size: 15px;
        margin-left: 4px;
}

#email{
    height: 30px;
    border-radius: 0 20px 20px 0;
}
#senha{
    height: 30px;
    border-radius: 0 20px 20px 0;
}



.right img{
    max-width: 100%;
    border-radius: 0px 15px 15px 0px;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


@media (max-width: 750px) {
    .login-btn{
        text-align: center;
    }
}
@media (max-width: 1040px) {
    .link-cdt{
        display: flex;
        flex-direction: row;
    }
    
}

@media (max-width: 1050px) {
    .right{
        display: none;
    }
    .titulo p {
        margin-top: 20px;
    }
    .left{
        border-radius: 40px;
    }
    

}
@media (max-width: 620px) {
    .link-cdt{
        display: flex;
        flex-direction: column;
    }
    .titulo p {
        margin-top: 20px;
    }
    .remember{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1.1rem;
    }
    .left{
        height: fit-content;
    }
}

@media (max-width: 540px) {
    .link-cdt a{
        display: flex;
        flex-direction: column;
    }
    .titulo p {
        margin-top: 20px;
    }
}




.cadastro-page{
    
    padding: 40px;
    height: 500px;
    background:linear-gradient(160deg, #f1f1f1, rgb(102, 94, 94));
    border-radius: 15px 0px 0px 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 500px;
}
.titulo-cdt{
    margin-left: 150px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#name{
    height: 30px;
    border-radius: 0 20px 20px 0;
}
.cadastro-inputs{
    display: flex;
    flex-direction: column;
}

.name-cdt{
    margin-top: 20px;
}
.email-cdt{
    margin-top: 20px;
}
.senha-cdt{
    margin-top: 20px;
}

.remember-cdt{
    text-align: center;
    margin-top: 30px;
    display: flex;

    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}

.botao-cadastro{
    border: none;
    width: 170px;
    height: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #4070f4;
    border-radius: 10px;
}
.botao-cadastro:hover{
    transform: scale(1.2);
}

.close-img{
    background: transparent;
    border: none;
}
.close-img:hover{
    scale: 1.1;
}

.cadastro-page{
    display: none;
    transition: 0.8s;
    
}
.login-btn{
    transition: 0.8s;
}

@media (max-width: 1250px) {
    .titulo-cdt{
        margin-right: 100px;
        display: flex;
        justify-content: space-around;
    }
    .close-img{
        margin-left: 6rem;
    }
}
@media (max-width: 1050px) {
    .cadastro-page {
        border-radius: 20px;
    }
}