*{
   padding: 0;
   margin: 0;
   outline: 0;
   font-family: "Open Sans", sans-serif;
   font-size: 14px;
   box-sizing: border-box;
   border: none;
   text-align: center;
}
.container{
    height: 100vh;
    background: linear-gradient(135deg, #2676ef, #40a9f4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 40px;
    border-radius: 16px;
    height: 390px;
    margin-bottom: 130px;
    gap: 20px;
}
.titulo{
    margin-top: 10px;
}
.titulo h1{
    font-size: 30px;
    padding-bottom: 
}
.titulo p {
    font-size: 18px;
}

.conta{
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}
.conta input{
    padding: 5px;
    font-size: 15px;
    border: 2px solid #40a9f4;
    border-radius: 5px;
}
.conta label{
    display: flex;
}


.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.buttons a{
    font-size: 15px;
    padding: 10px;
}
#button{
    background-color: #2676ef;
    padding: 8px;
    border-radius: 6px;
    width: 240px;
}

#button:hover{
    background-color: black;
    color: white;
}


.senha1{
    margin-top: 10px;
}

.cadastro{
    display: none;
}

.btn-cadastro{
    background-color: red;
}



